---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import FormattedDate from '../components/FormattedDate.astro';

import '../styles/global.css';
import '../styles/post.css';

type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate, heroImage } = Astro.props;
---
<head>
    <title>{title} | MadAvidCoder's Blog</title>
    <meta charset="utf-8" />
</head>
<div class="post-page page-shell">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <article class="post">
        <header>
            <h1>{title}</h1>
            <p class="description">{description}</p>
            {heroImage && (
                    <Image src={heroImage} format="webp" alt={title} class="hero" />
            )}
            <p class="date">
                <FormattedDate date={pubDate} />
            </p>
        </header>

        <div class="body">
            <slot />
        </div>
    </article>
</div>
