---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import FormattedDate from '../components/FormattedDate.astro';

import '../styles/global.css';
import '../styles/post.css';

type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate, heroImage } = Astro.props;
---
<div class="post-page page-shell">
    <article class="post">
        <header>
            <h1>{title}</h1>
            <p class="description">{description}</p>
            {heroImage && (
                    <Image src={heroImage} format="webp" alt={title} class="hero" />
            )}
            <p class="date">
                <FormattedDate date={pubDate} />
            </p>
        </header>

        <div class="body">
            <slot />
        </div>
    </article>
</div>
